<div class="bg-surface-50 dark:bg-surface-950 px-6 py-8 md:px-12 lg:px-20">
  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
    <div
      class="bg-surface-0 dark:bg-surface-900 shadow-sm p-5 rounded-2xl"
      *ngFor="let stat of stats"
    >
      <div class="flex justify-between gap-4">
        <div class="flex flex-col gap-2">
          <span class="text-surface-700 dark:text-surface-300 font-normal leading-tight">
            {{ stat.label }}
          </span>
          <div class="text-surface-900 dark:text-surface-0 font-semibold !text-2xl !leading-tight">
            {{ stat.count }}
          </div>
        </div>
        <div
          class="flex items-center justify-center rounded-lg w-10 h-10"
          [ngClass]="'bg-gradient-to-b ' + stat.gradientFrom + ' ' + stat.gradientTo"
        >
          <i
            [ngClass]="stat.icon + ' text-surface-0 dark:text-surface-900 !text-xl !leading-none'"
          ></i>
        </div>
      </div>

      <div class="mt-4">
        <ng-container *ngIf="stat.new !== undefined">
          <span class="text-surface-600 dark:text-surface-300 font-medium leading-tight">
            {{ stat.new }} new
          </span>
          <span class="text-surface-500 dark:text-surface-300 leading-tight">
            {{ stat.subtext }}
          </span>
        </ng-container>
        <ng-container *ngIf="stat.usage">
          <span class="text-surface-500 dark:text-surface-300 leading-tight">
            {{ stat.usage }}
          </span>
        </ng-container>
      </div>
    </div>
  </div>
</div>
